<html>
<head>
<title>{{ config['BLOG_TITLE'] }}:: {{ post.title }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" /></head>

<body>

{% if session.logged_in %}logged in <a href="{{ url_for('logout') }}">log out</a> <a href="{{ url_for('compose') }}">compose</a>
{% else %}not logged in <a href="{{ url_for('login') }}">log in</a>

{% endif %}

<div style="text-align:center;"><h2>{{ post.title }}</h2></div>

<div class="pub_date">published on {{ post.pub_date.date() }}</div>

<div class="post_body">{{ post.post_body }}</div>
</br></br>


</body>
</html>
